
body{
	font-size: 20px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0%;
  background-color: #F9F6E5;
  font-family: 'HummingD' ;
  color:#F9F6E3;
  font-size: 20px;
  background-image: url('https://cdn.discordapp.com/attachments/328711409464639488/825854465349255248/background.jpg');
}

.testbody {

animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


.nav-item {
  font-size:15px;
}


 /*CSS DE LAS CAJAS*/





 .form-check{
  font-size: 20px;
  background-color: #00BCAB;
  color: #F9F6E3;
  border: 0px;
  cursor: pointer;
  padding: 13px;
  border-radius: 10px;
  padding:1em;
  margin-top: 10px;
  margin-bottom: 10px;
 
}


.form-check:hover{
  background-color: #FFDE84;
  color: #FC5A63;
}



[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #F9F6E3;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #FC5A63;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* FIN CAJA */

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  color: #7F7B70;
  font-family: 'HummingB';
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;

}

#divcentrar {
  margin-left: auto;
  margin-right: auto;
}

.form-check {
  text-align: left;
}

label {
  text-align: center !important;
}

button{
	font-size: 22px;
	background-color: #00BCAB;
	color: #fff;
	border: 0px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}


button:hover{
	background-color: black;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.indexBackground {
  z-index: 950;
}


.jumbotron {
	background: none;
	color: #F9F6E3;
	text-align: center;
}

.display-4 {
  font-family: 'HummingB';
}

  p {
    color: #7F7B70;
    font-family: 'HummingD' ;
    letter-spacing: 0.5px;
    font-size: 20px;
    padding-left: 1%;
  }



.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: 100vh;
}


html {
  font-size: 1rem;
}


  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#00BCAB;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: +10;
  }
  
  .loader {
    animation: loader 3s infinite ease;
    z-index: +10;
  }


  .navbar {
    background-color: #00BCAB;
    padding:20px;
   
  
  }

  nav .navbar-nav li a, .navbar-brand {
    color: #F9F6E3;
  }

  .navbar-brand:hover {
   color: #FC5A63;

  }

  .dropdown-item {
    color: #7F7B70 !important;
  }

  .dropdown-menu {
    background-color: #F9F6E3;
  }


  .mt-3 {
    color: #7F7B70;
  }



html {
  overflow: hidden;
}

.overflow { 
  overflow-x: hidden;
  overflow-y: hidden;
}


.imgResultado {
  width:500px;
  height: auto;
}
 
@media only screen and (max-width: 1024px) {

  .imgResultado {
    width:200px;
    height: auto;
  }


  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .display-4 {
  font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .col-auto {
    max-width: 100vh;
  }
  .overflow {
    overflow-y: auto;
  }
  }


  .dropdown-item:hover{
    background-color: #ECE5CB;
  }

  .nav-link:hover {
    color: #FFCA46;
  }

  .btn {
    background-color:#00BCAB ;
    border-width:0;
    color: #F9F6E3;
  }

  .btn:hover {
    background-color: #FC5A63;
    color: #ECE5CB;
    border-width:0;
  }

  .btn:focus {
    border-width:0;
  
  }

  .btn-lg:focus {
    border-width:0;
    background-color: #FC5A63;
  }

  .spanclass {
    width: 200px;
  }